
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

backend/autosave.v2
backend/Dinney2004_01_01.v2
backend/siiiey1918_01_11.v2
*.v2
*.csv
src-tauri/binaries/server-x86_64-pc-windows-msvc.exe
backend/build/server/localpycs/pyimod01_archive.pyc
backend/build/server/localpycs/pyimod02_importers.pyc
backend/build/server/localpycs/pyimod03_ctypes.pyc
backend/build/server/localpycs/pyimod04_pywin32.pyc
backend/build/server/localpycs/struct.pyc
backend/server.spec
backend/build/server/Analysis-00.toc
backend/build/server/base_library.zip
backend/build/server/EXE-00.toc
backend/build/server/PKG-00.toc
backend/build/server/PYZ-00.pyz
backend/build/server/PYZ-00.toc
backend/build/server/server.pkg
backend/build/server/warn-server.txt
.gitignore
